<h3>cargar producto</h3><br>
<form id="formCargarProductos">
<label for="input_title">Titulo: </label><input type="text" name="title" id="input_title"><br>
<label for="input_description">Descripcion: </label><input type="text" name="description" id="input_description"><br>
<label for="input_code">Codigo: </label><input type="text" name="code" id="input_code"><br>
<label for="input_price">Precio: $</label><input type="number" name="price" id="input_price"><br>
<label for="input_thumbnail">thumbnail: </label><input type="text" name="thumbnail" id="input_price"><br>
<label for="input_category">Categoria: </label><input type="text" name="category" id="input_category"><br>
<label for="input_stock">Stock: </label><input type="number" name="stock" id="input_stock"><br><br>
<button type="submit">Guardar</button>
</form>
<hr>
<h3>Borrar producto producto</h3><br>
<form id="formBorrarProducto" >
<label for="input_id">id del producto a borrar: </label><input type="text" name="idErase" id="input_idErase"><br>
<br><button type="submit">Borrar</button>
</form>
<hr>
<h3>Modificar producto</h3><br>
<form id="formModificarProducto">
<label for="input_id">id del producto a modificar: </label><input type="text" name="idModificar" id="input_idModofocar"><br>
<select name="select" id="select">
  <option value="title" selected>Titulo</option>
  <option value="description">Descripcion</option>
  <option value="price">precio</option>
  <option value="thumbnail">thumbnail</option>
  <option value="category">categoria</option>
  <option value="stock">stock</option>
  <label for="input_id">valor a cambiar: </label><input type="text" name="modificar" id="input_Modificar"><br>
</select>
<br><button type="submit">Modificar</button>
</form>
<hr>

<h3>lista de productos</h3><br>

<form method="get" action="/api/products">
{{!-- action="/api/products?page={{productos.page}}&query={{productos.category}}&sort={{productos.sort}} "> --}}
  <input type="hidden" name="page" value="{{productos.page}}">
  <input type="hidden" name="category" value="{{productos.category}}">
  <input type="hidden" name="sort" value="{{productos.sort}}">
  <label for="limit">Límite de resultados por página:</label>
  <input type="number" name="limit" value="{{productos.limit}}">
  <input type="submit" value="limitar productos por paguina">
</form>
<h4>paguina {{productos.page}} de {{productos.totalPages}}</h4>

<select onchange="location = this.value">
 <option value="" selected>Ordenar precio</option>
 <option value="/api/products?page={{productos.page}}&sort=1&limit={{productos.limit}}&query={{productos.category}}">acendente</option>
 <option value="/api/products?page={{productos.page}}&sort=-1&limit={{productos.limit}}&query={{productos.category}}">decendente</option>
 <option value="/api/products?page={{productos.page}}&sort=&limit={{productos.limit}}&query={{productos.category}}">sin ordenar</option>
</select>
<select onchange="location = this.value">
 <option value="" selected>seleccione categoria</option>
 <option value="/api/products?page={{productos.page}}&sort={{productos.sort}}&limit={{productos.limit}}&query=notebook">notebook</option>
 <option value="/api/products?page={{productos.page}}&sort={{productos.sort}}&limit={{productos.limit}}&query=perifericos">perifericos</option>
 <option value="/api/products?page={{productos.page}}&sort={{productos.sort}}&limit={{productos.limit}}&query=telefonia Mobile">telefonia Mobile</option>
 <option value="/api/products?page={{productos.page}}&sort={{productos.sort}}&limit={{productos.limit}}&query=PC de escritorio">PC de escritorio</option>
 <option value="/api/products?page={{productos.page}}&sort={{productos.sort}}&limit={{productos.limit}}&query=">sin categoria</option>
</select>

{{#if hayProductos}}
<ul>
    {{#each productos.docs}}
     </a>
    <li><a href="/api/products/{{this._id}}" {{!-- target="_blank" --}}> id: {{this._id}} | Titulo: {{this.title}} | Desripcion : {{this.description}} | codigo: {{this.code}} | Precio: {{this.price}} | Categoria: {{this.category}} | Stock: {{this.stock}} </a></li><br>
    {{/each}}
</ul>
{{else}}
<p>no hay producto para mostrar</p> 
{{/if}}
{{#if productos.hasPrevPage}}
<a href="/api/products?page={{productos.prevPage}}&limit={{productos.limit}}&sort={{productos.sort}}&query={{productos.category}}">paguina previa</a>
{{/if}}
{{#if productos.hasNextPage}}
<a href="/api/products?page={{productos.nextPage}}&limit={{productos.limit}}&sort={{productos.sort}}&query={{productos.category}}">paguina siguiente</a>
{{/if}}
<script src="/js/formProductos.js"></script>